doctype html
html
  head
    title= title
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  body.bg-gray-300.p-6
    h1.font-thin.text-3xl About Us
    p This is a simple Express app using Pug, Tailwind CSS and Alpine.js. It's purpose is to verify that I can get something online with minimal effort.
    div
      ul
        li Express
        li Pug
        li Tailwind CSS
        li Alpine.js
        li HTMX