doctype html
html
  head
    title= title
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  body.bg-gray-300.p-6
    h1.font-thin.text-3xl Express + Pug + Tailwind CSS + Alpine.js
    p Hi there! This is a simple Express app using Pug, Tailwind CSS and Alpine.js.
